[Unit]
Description=Redeploy Webhook Service

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/webhook -hooks /home/bitnami/inzight-www/hooks.json

[Install]
WantedBy=multi-user.target
