.feature
  a.alert-info
    margin-top: 40px
    background: lighten($main-color-1, 40)

    @media (min-width: 992px)
      margin-top: 50px

    &:hover
      text-decoration: none

    h4
      margin-bottom: 0

  iframe
    vertical-align: middle

  a.alert-info.lite
    margin-top: 0
    h4
      margin-bottom: 10px
    background: lighten($main-color-1, 40)
