.feature
  max-width: $content-width
  @include display(flex)
  @include justify-content(space-around)
  padding: 0 2em 2em
  margin: 0 auto

  .placeholder
    height: 300px
    width: 600px

    background: $header-border-color
