.feature
  max-width: $content-width
  @include display(flex)
  @include justify-content(space-around)
  padding: 0 2em 4em
  margin: 0 auto

  .placeholder
    height: 300px
    max-width: 600px

    background: $header-border-color
    text-align: center

    @media (max-width: 650px)
      width: 100%
      height: auto


  .download
    @include display(flex)
    @include flex-direction(column)
    @include justify-content(flex-start)

    .dl-options
      margin-bottom: 1em

      .alt-options
        font-size: 0.8em
        display: block
        text-align: center
        margin-bottom: 1em

    .download_button
      @extend .round-button
      margin-top: 2em

    .download-info,.dl-options
      .group
        font-size: 0.9em
        @include display(flex)


        .group-label
          font-weight: bold
          display: inline-block
          width: 120px
          text-align: right
          padding-right: 0.5em

        .group-value
          display: inline-block
          font-weight: bold
          color: $main-color-2

        &.gap
          margin-top: 2em

        .grouptext
          font-weight: bold
          display: block

      a.online-link
        font-weight: bold
        font-size: 1.5em
        display: block
        text-align: center
        margin: 0 auto

        width: 150px
        padding: 0.2em 0
        border-bottom: solid 2px $main-color-2

        &:hover
          border-bottom: solid 2px $main-color-1
          color: $link-color
          background: lighten($main-color-1, 40%)



@include notlarge
  .feature
    @include flex-direction(column)
    @include align-items(center)

@media (max-width: 950px) and (min-width: 500px)
  .feature
    .download
      @include flex-direction(row)
      @include justify-content(space-around)
      @include align-items(flex-start)

      .dl-options
        margin-right: 1em

      .download-info
        margin-top: 2em
        margin-left: 1em
