.footer
  font-size: 0.8em

  .footer-content
    text-align: center
    padding-bottom: 2em

  .thanks
    text-align: center
    img
      height: $footer-height * 0.8
      padding: 0 1em 1em

  @media (min-width: 992px)
    .footer-content
      text-align: left

    .thanks
      text-align: right


@media print
  .footer
    display: none !important
