.footer
  // do not change height!
  max-width: $max-page-width
  margin: 0 auto
  padding: 1em
  font-size: 0.8em

  border-top: solid 2px $header-border-color

  .footer-content
    @include display(flex)
    @include justify-content(space-between)
    @include align-items(center)

    @include phone
      @include flex-direction(column-reverse)

    .copyright
      @include display(flex)
      @include flex-direction(column)
      @include align-items(flex-start)
      @include phone
        @include align-items(center)

      padding-bottom: 1em

    .thanks
      @include display(flex)
      @include align-items(center)
      @include flex-wrap(wrap)
      @include justify-content(space-around)

      padding-bottom: 1em

      div
        @include display(flex)
        @include align-items(center)


      img
        height: $footer-height / 2
        padding: 0 1em
