nav.navbar
  .navbar-brand
    padding: 10px 0 8px
    img
      height: 100%

  .navbar-nav > li
    a
      color: $main-color-1

      &:hover
        color: darken($main-color-1, 20)

    &:hover
      > .dropdown-menu
        display: block
