.markdown
  margin: 1em 2em

  h1
    font-size: 1.2em

  h2
    font-size: 1.1em

  h3
    font-size: 1em

  p
    margin: 0.5em 0 1em

img
  display: block
  margin: 0 auto

  &.half-width
    width: 50%
