.markdown
  margin: 1em auto
  padding: 0 2em

  @include clearfix

  h1
    font-size: 1.2em

  h2
    font-size: 1.1em
    margin-top: 2em

  h3
    font-size: 1em
    padding: 0
    margin: 2em 0 0

  p
    margin: 0.5em 0 1em


  >ol
    @include clearfix

    >li
      clear: both

.clear
  @include clearfix

img
  display: block
  margin: 0 auto
  max-width: 100%

  &.half-width
    width: 50%

  &.width600
    width: 600px

  &.width700
    width: 700px

  &.fright
    float: right
    margin: 0.5em 1em
    border: solid 2px $main-color-2

    @include phone
      float: none
      margin: 0.5em auto

.video-wrapper
  position: relative

  @include notwide
    &.asp16x9  // 16:9 aspect ratio: 9/16 = 0.5625
      padding-bottom: 56.25%

  @include widescreen
    width: 1000px // $content-width
    height: 562.5px // 0.5625 * $content-width
    padding: 0

  iframe
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
