.navpanel
  @include display(flex)
  @include justify-content(space-between)
  @include align-items(center)

  margin: 3em 0em 1.5em
  padding: 0.5em 1em
  background: $comp-color-1
  border-top: solid 1px $main-color-2
  border-bottom: solid 2px $main-color-2

  @include phone
    font-size: 0.8em

  a, span
    @include flex(1)

  .prev
    text-align: left

  .section_toc
    text-align: center

  .next
    text-align: right
