.rhistory
  @extend .markdown

  h2
    margin-top: 0
    font-size: 1.2em

  h3
    font-size: 1.1em
    margin-top: 2em

  h4
    font-size: 1em
    padding: 0
    margin: 2em 0 0

  p
    margin: 0.5em 0 1em
