.top_message
  font-size: 12px
  background: $main-color-2
  color: $comp-color-1

  padding: 0.2em 1em

  display: none

  &.showme
    @include display(flex)
    @include justify-content(space-between)
    @include align-items(center)

    //@include phone
      @include flex-direction(column)

  .close
    color: $link-color

    @include size(20px)

    path
      fill: rgba(200, 200, 200, 0.4)

    &:hover
      cursor: pointer

      path
        fill: rgba(200, 200, 200, 0.6)


.support_message
  @extend .top_message
  background: darken($note-color, 10%)
  color: #ccc

  .close
    color: $comp-color-1

    &:hover
      color: black
