// this describes the default layout for pages
html, body
  height: 100%
  background: $background-color
  font:
    size: $font-size
    family: $font-family
  color: $text-color

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto (-$footer-height)
  max-width: $max-page-width

.footer, .push
  height: $footer-height

.vspace
  height: 2em

a
  color: $link-color
  text-decoration: none
  font-weight: bold

  &:hover
    color: $hover-color

h3
  padding: 0 2em 1em

p
  margin: 0.5em 2em 1em

li
  margin: 0 0 1em

li>p
  margin-left: 0

.small
  font-size: 0.8em

.large-break
  margin-bottom: 3em

.space-above
  margin-top: 2em

.note
  font-size: 0.9em
  font-style: italic
  color: $note-color



a.thumb
  display: inline-block

  img
    max-width: 350px
    margin: 1em
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    &:hover
      cursor: -webkit-zoom-in
      cursor: -moz-zoom-in
