// this describes the default layout for pages
html, body
  height: 100%
  background: $background-color
  font:
    size: $font-size
    family: $font-family
  color: $text-color

h1, h2, h3, h4, h5, h6
  font-family: $header-font-family

.wrapper
  //min-height: 100%
  //height: auto !important
  //height: 100%
  //margin: 0 auto (-$footer-height)

.footer
  height: $footer-height

.vspace
  height: 2em

a
  color: $link-color
  text-decoration: none
  font-weight: bold

  &:hover
    color: $hover-color

// h3, h4
//   padding-bottom: 1em

// p
//   margin: 0.5em 2em 1em

ul:not(.nav-tabs)
  li:not(.default)
    margin: 0 0 1em

  li:not(.default)>p
    margin-left: 0

ol.breadcrumb > li
  margin: 0
  font-size: 0.9em
  a
    font-weight: normal

.small
  font-size: 0.8em

.large-break
  margin-bottom: 3em

.space-above
  margin-top: 2em

.note
  font-size: 0.9em
  font-style: italic
  color: $note-color

.warning
  font-size: 0.9em
  font-weight: bold
  color: orangered
  // padding: 10px 0

a.thumb
  display: inline-block

  img
    max-width: 350px
    margin: 1em
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    &:hover
      cursor: -webkit-zoom-in
      cursor: -moz-zoom-in


.tab-content
  padding-top: 1em
