.col1, .col2
  font:
    weight: 700
    family: 'PT Sans Caption', sans-serif


.col1
  color: $main-color-1

.col2
  color: $main-color-2




ol.alpha
  list-style-type: lower-alpha


details > summary
  cursor: pointer
  display: inline

  &:hover
    color: $main-color-2
