.image-row
  img
    height: 200px
    display: inline-block
    margin: 20px

.images-centered
  max-width: 1400px
  margin: 0 auto

  img
    padding: 0 20px
    display: inline-block
    width: 50%
