.image-row
  img
    height: 200px
    display: inline-block
    margin: 20px

.images-centered
  max-width: 1400px
  margin: 0 auto
  text-align: center

  img
    padding: 0 20px
    display: inline-block
    width: 50%
    @media (max-width: 745px)
      width: 80%

  @media (min-width: 745px)
    &.equal-height

      img
        text-align: center
        width: auto
        height: 400px

        @media (max-width: 1340px)
          height: 350px
        @media (max-width: 1200px)
          height: 300px
        @media (max-width: 1050px)
          height: 250px
        @media (max-width: 895px)
          height: 200px
